.aboutMe .title,
.aboutMe .description {
   margin-top: 0;
   margin-bottom: 0;
}
.aboutMe{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 1rem;
}
.aboutMe .headshot {
   border-radius: 0.9375rem;
   border: 5px solid #60435F;
   max-width: 12rem;
}
.aboutMe .description {
   max-width: 48rem;
   color: #3A2A3D;
   text-align: center;
   font-family: Inter;
   font-size: 1.5rem;
   font-style: normal;
   font-weight: 700;
   line-height: normal;
}

.aboutMe .title{
   color: #60435F;
   text-align: center;
   font-family: Inter;
   font-size: 2.67rem;  
   font-style: normal;
   font-weight: 800;
   line-height: normal;
}