@font-face {
  font-family: "Inter";
  src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter";
  background: #FDF7FA;
}

.outerColumns {
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
}

header,
footer {
  font-family: "Inter";
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter";
  color: #000000;
  text-align: center;
  position: relative;
  display: inline-block;
}

.projectsTitle {
  font-family: "Inter";
  font-size: 3rem;
  font-weight: 800;
  color: #3A2A3D;
  padding-bottom: .5rem;
  text-align: center;
}

.projectsDrop{
  width: 12rem;
  height: 0.5rem;
  border-radius: 1.5625rem;
  background: #60435F;
}
.projectsHeader{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}
.App{
  padding-top: 2rem;
  padding-bottom: 2rem;
}