@font-face {
  font-family: "Inter";
  src: url("./fonts/Roboto-VariableFont_wdth\,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Inter";
  background: #171721;
}

.outerColumns {
  text-align: center;
  justify-items: center;
  display: flex;
  flex-direction: row;
}

header,
footer {
  font-family: "Inter";
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
  font-family: "Inter";
  color: #ffffff;
  text-align: center;
  position: relative;
  display: inline-block;
}

.aboutMe {
  color: #ffffff;
  font-family: "Inter";
  font-size: 1.25rem;
}

.aboutMe h1 {
  font-size: 3rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  text-align: center;
}

.aboutMe h2 {
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  text-align: start;
}

.outerColumns {
  display: flex;
  height: 100vh;
  overflow: hidden;
  justify-items: center;
}

.outerColumns .aboutMe {
  flex: 0 0 30%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 3rem;
}
@media (max-width: 600px) {
  h1 {
    padding-top: 2rem;
  }
  .outerColumns {
    flex-direction: column;
    overflow: auto;
    height: 100%;
  }
  .outerColumns .aboutMe {
    max-width: 80%;
  }
  .outerColumns div {
    overflow: auto;
  }
}
