.box {
   height: 508px;
   position: relative;
   width: 1310px;
}

.box .group {
   height: 508px;
   left: 28px;
   position: fixed;
   top: 27px;
   width: 1310px;
}

.box .rectangle {
   background-color: #e2a3c714;
   border: 5px solid;
   border-color: #60435f;
   border-radius: 45px;
   height: 518px;
   left: -5px;
   position: absolute;
   top: -5px;
   width: 1320px;
}

.box .div {
   height: 400px;
   left: 539px;
   position: absolute;
   top: 77px;
   width: 719px;
}

.box .as-part-of-MIT-s {
   align-items: center;
   color: #000000;
   display: flex;
   font-family: "Inter-Bold", Helvetica;
   font-size: 24px;
   font-weight: 700;
   height: 318px;
   justify-content: center;
   left: 0;
   letter-spacing: 0;
   line-height: normal;
   position: absolute;
   text-align: center;
   top: 0;
   width: 717px;
}

.box .group-2 {
   height: 17.29%;
   left: 38.66%;
   position: absolute;
   top: 82.71%;
   width: 22.53%;
}

.box .vector {
   height: 99.99%;
   left: 56.59%;
   position: absolute;
   top: 0;
   width: 43.41%;
}

.box .hyperlink {
   aspect-ratio: 0.92;
   height: 69px;
   left: 0;
   object-fit: cover;
   position: absolute;
   top: 0;
   width: 63px;
}

.box .group-3 {
   height: 377px;
   left: 86px;
   position: absolute;
   top: 66px;
   width: 362px;
}

.box .download {
   aspect-ratio: 1.07;
   height: 338px;
   left: 0;
   object-fit: cover;
   position: absolute;
   top: 39px;
   width: 360px;
}

.box .oct-dec {
   align-items: flex-end;
   color: #000000;
   display: flex;
   font-family: "Inter-Bold", Helvetica;
   font-size: 24px;
   font-weight: 700;
   height: 58px;
   justify-content: center;
   left: 57px;
   letter-spacing: 0;
   line-height: normal;
   position: absolute;
   text-align: center;
   top: 0;
}