a.links {
  display: flex;
  justify-content: center;
}
.links a .image {
  max-height: 3.75rem;
  /* max-height: 3.39531rem; */
  width: auto;
  padding: 1rem;
}
:root {
  --blur-amount: 10px;
  --brightness: 100%;
  --border-radius: 2.5rem;
  --border-color: #60435F;
  --text-color: #000000;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --max-width: 90vw;
}

.project {
  backdrop-filter: blur(var(--blur-amount)) brightness(var(--brightness));
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
  background: rgba(226, 163, 199, 0.08);
  max-width: min(60rem, 90vw);
  margin: 0.6rem 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;

}

.leftProj {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
  height: 100%;
}

.rightProj {
  flex: 1;
  flex-direction: column;
  align-items: center;
  display: flex;
  min-width: 0;
  min-height: 0;
}
.leftProj .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 30rem;
  height: auto;
  width: auto;
  object-fit: contain;
}

.leftProj .date {
  width: 100%;
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  text-align: center;
}

.project .title {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 2.25rem;
  font-weight: 800;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 0.1rem;
  text-align: center;
}
a {
  text-decoration: none;
}

.project .description {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}
