.project {
  background: white;
  max-width: 800px;
  margin: 40px auto;
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
}
.project * {
  color: #36454f;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.5);
}
.project {
  padding-top: 1rem;
}
.project img {
  flex: 0 0 30%;
  max-width: 30%;
  height: auto;
  max-height: 30vh;
  object-fit: contain;
  object-position: top;
  margin-left: 2rem;
}
.project .emptyleft {
  flex: 0 0 30%;
  max-width: 30%;
  margin-left: 2rem;
}

.projectInfo {
  flex: 1 1 auto;
  text-align: left;
  object-position: top;
  margin-left: 2rem;
}
.date {
  margin-top: -1rem;
}
.projectInfo h2 {
  margin-top: 1rem;
}
.projectInfo h2 * {
  text-decoration: none;
  color: #e15b54;
}
.pro .projectInfo h2 a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .project {
    flex-direction: column;
  }

  .project img,
  .projectInfo {
    max-width: 100%;
    flex: 0 0 auto;
  }
}
