 

.links a .image {
  max-height: 3.75rem;
  width: auto;
  padding: 1rem;
}


.links {
  display: flex;
  justify-content: center;
  width: 100%;
  /* critical */
  box-sizing: border-box;
}
:root {
  --blur-amount: 10px;
  --brightness: 100%;
  --border-radius: 2.5rem;
  --border-color: #60435F;
  --text-color: #000000;
  --font-primary: "Inter", sans-serif;
  --font-secondary: "Roboto", sans-serif;
  --max-width: 90vw;
}

.project {
  backdrop-filter: blur(var(--blur-amount)) brightness(var(--brightness));
  border: 3px solid var(--border-color);
  border-radius: var(--border-radius);
  background: rgba(226, 163, 199, 0.08);
  max-width: min(60rem, calc(100vw - 2rem));
  margin: 0.6rem 1rem;
  padding: 2rem;
  display: flex;
  align-items: center;

}

.leftProj {
  flex: 0 0 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: 2rem;
  padding-right: 2rem;
  overflow: hidden;
}

.rightProj {
  flex: 1;
  flex-direction: column;
  align-items: center;
  display: flex;

}
.leftProj .image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 30rem;
  height: auto;
  width: auto;
  object-fit: contain;
}

.leftProj .date {
  width: 100%;
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 700;
  padding-bottom: 0.3rem;
  text-align: center;
}

.project .title {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 2.25rem;
  font-weight: 800;
  overflow-wrap: break-word;
  word-wrap: break-word;
  margin-top: 0.1rem;
  text-align: center;
}
a {
  text-decoration: none;
}

.project .description {
  color: var(--text-color);
  font-family: var(--font-primary);
  font-size: 1.15rem;
  font-weight: 600;
  text-align: center;
  word-break: break-word;
  overflow-wrap: break-word;
}

@media (max-width: 600px) {
  .project {
    flex-direction: column;
    align-items: center;
    height: auto;
  }

  .leftProj {
    justify-content: flex-start;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;
    display: flex;
    flex: none;
  }

  .rightProj {
    justify-content: flex-start;
    width: 100%;
    display: flex;
    flex: none;
    min-width: 0;
  }
}